html {
  scroll-behavior: smooth;
}

div#landing-page {
  min-height: 100vh;
  background-image: url("../assets/photo-1422207258071-70754198c4a2.jpeg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;

}

nav#mainNav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all 0.75s;
}

#mainNav.stroke ul li a
{
  position: relative;
}
#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 25px;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #e83e8c;
  height: 1px;
}
#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #e83e8c;
  z-index: 1;
}
#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}


ul.main-navigation {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  display: flex;
  justify-content: center;
  background: rgb(44,44,45);
  background: radial-gradient(circle, rgba(44,44,45,0.971469395280236) 33%, rgba(15,14,17,1) 65%);
}

ul.main-navigation > li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

li > a {
  font-weight: 500;
  color: white;
}

li > a:hover {
  color: #e83e8c;
  text-decoration: none;
}

#intro {
  position: absolute;
  margin: auto;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 580px;
  height: 400px;
  color: white;
  letter-spacing: 0.1em;
}

#intro > h5 {
  font-size: 36;
  text-align: center;
}

#intro > h1 {
  font-size: 58px;
  font-weight: 800;
}
#intro > p {
  text-align: center;
  font-size: 28px;
  font-family: "lora-regular";
}

div.wrapper {
  text-align: center;
}

ul#intro-social {
  list-style-type: none;
	font-size: 2.3rem;
  padding: 20px 0 0 0;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

ul#intro-social > li > a{
  padding: 2px 5px;
  color: #e83e8c;
}


ul#intro-social > li > a:hover{
  padding: 2px 5px;
  color: white;
}

section#about {
  height: 110vh;
}

.intro-info img {
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	margin: .9rem 0 0 0;
	float: left;
}

div.intro-info {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 680px;
  height: 400px;
  color: black;
  letter-spacing: 0.1em;
  text-align: center;
}

li.devicon {
  color: black;
  font-size: 4em;
  margin: 10px;
}

ul#skills {
  list-style-type: none;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
}

div.intro-info > h5 {
  margin-top: 60px;
  letter-spacing: 0.1em;
  color: #e83e8c;
}

div#personal {
  margin-top: 35px;
}
div#skills {
  margin-top: 35px;
  margin-bottom: 10px;
}

p.lead {
  font-size: 18px;
}

section#portfolio {
  height: 120vh;
  text-align: center;
  background-color: #f5f5f5;
}

#portfolio > h5 {
  letter-spacing: 0.1em;
  color: #e83e8c;
  padding-top: 60px;
}

#portfolio > h1 {
  color: #24292e;
}

div#projects {
  margin-top: 60px;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

/* portfolio-item */

div.portfolio-item {
  margin-right: 10px;
  border-radius: 7.5px;
  overflow: hidden;
  max-width: 320px;
}

div.portfolio-item-info {
  background-color: white;
  text-align: left;
  border-radius: 0 0 7.5px 7.5px;
}

div.portfolio-item-info > h6 {
  color: #e83e8c;
  padding-left: 5px;
  padding-top: 14px;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

div.portfolio-item-info > p {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #636363;
  font-family: 'Noto Sans', sans-serif;
}

/* display active link in menu bar */

.current > a {
  color: #e83e8c;
}

/* handle scroll animation */

.static {
  /* class required as second argument for ScrollTrigger */
}

img.img-responsive {
  margin: auto;
  height: 240px;
  width: 320px;
}

div.image-container {
  position: relative;
}

div.image-container > a  {
  flex-grow: 1;
  flex-basis: 125px;
  max-width: 250px;
  margin-bottom: 10px;
  position: relative;
}

div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;ß
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

div.text {
  color: #e83e8c;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Control hover event over portfolio-item */

div.portfolio-item:hover .overlay {
  opacity: 0.9;
}

div.portfolio-item:hover .portfolio-item-info {
  background-color: #20232a;
}

div.portfolio-item:hover .portfolio-item-info > h6 {
  color: white;
}

div.portfolio-item:hover .portfolio-item-info > p {
  color: #d3d3d3;
}

/* Tags */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #636363;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 5px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #636363;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

div.portfolio-item:hover .tag {
  background: white;
  color: #636363;
}

div.portfolio-item:hover .tag::before {
  background: #20232a;
}

div.portfolio-item:hover .tag::after {
  background: #20232a;
  border-left: 10px solid white;
}

/* CSS Animations */

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
