html {
  scroll-behavior: smooth;
}

#landing-page {
  height: 100vh;
  background-image: url("../assets/photo-1422207258071-70754198c4a2.jpeg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

nav#mainNav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgb(44,44,45);
  background: radial-gradient(circle, rgba(44,44,45,0.971469395280236) 33%, rgba(15,14,17,1) 65%);
}

#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all 0.75s;
}

#mainNav.stroke ul li a
{
  position: relative;
}
#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 25px;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #e83e8c;
  height: 1px;
}
#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #e83e8c;
  z-index: 1;
}
#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}


ul.main-navigation {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

ul.main-navigation > li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

li > a {
  font-weight: 500;
  color: white;
}

li > a:hover {
  color: #e83e8c;
  text-decoration: none;
}

.anchor {
  padding-top: 40px;
}

#myBtn {
  font-size: 1.5em;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #e83e8c;
  background-color: #24292e;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#myBtn:hover {
  color: #24292e;
  background-color: #e83e8c;
}

#intro {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  letter-spacing: 0.1em;
}

#intro > h5 {
  font-size: 36;
  text-align: center;
}

#intro > h1 {
  font-size: 58px;
  font-weight: 800;
}
#intro > p {
  text-align: center;
  font-size: 28px;
  font-family: "lora-regular";
}

div.wrapper {
  text-align: center;
}

ul#intro-social {
  list-style-type: none;
	font-size: 2.3rem;
  padding: 20px 0 0 0;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

ul#intro-social > li > a{
  padding: 2px 5px;
  color: #e83e8c;
}

ul#intro-social > li > a:hover{
  padding: 2px 5px;
  color: white;
}

.intro-info img {
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	margin: 0 2em;
	float: left;
}

div.intro-info {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  letter-spacing: 0.1em;
  text-align: center;
}

li.devicon {
  color: black;
  font-size: 5em;
  margin: 15px 5px 15px 5px;
  display: inline-block;
}

ul#skills {
  list-style-type: none;
  margin: auto;
  text-align: center;
}

div.intro-info > h5 {
  margin-top: 60px;
  letter-spacing: 0.1em;
  color: #e83e8c;
}

div#personal {
  margin-top: 35px;
}
div#skills {
  margin-top: 35px;
}

p.lead {
  font-size: 2em;
  padding: 7.5px;
}

section#portfolio {
  
  text-align: center;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
}

#portfolio > h5 {
  letter-spacing: 0.1em;
  color: #e83e8c;
  padding-top: 60px;
}

#portfolio > h1 {
  color: #24292e;
}

div#projects {
  margin-top: 60px;
}


ul#skills {
  padding-bottom: 15px;
  margin-bottom: 15px;
} 

.row, .container { margin-right: 0; margin-left: 0; }

div.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

/* ======================================= */
/* portfolio-item */

div.portfolio-item {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
  border-radius: 7.5px;
  overflow: hidden;
  max-width: 320px;
}

div.portfolio-item-info {
  background-color: white;
  text-align: left;
  border-radius: 0 0 7.5px 7.5px;
  transition: .5s ease;
}

div.portfolio-item-info > h6 {
  color: #e83e8c;
  padding-left: 5px;
  padding-top: 14px;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

div.portfolio-item-info > p {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #636363;
  font-family: 'Noto Sans', sans-serif;
}


/* ======================================= */
/* display active link in menu bar */

.current > a {
  color: #e83e8c;
}

/* ======================================= */
/* handle scroll animation */

img.img-responsive {
  margin: auto;
  height: 240px;
  width: 320px;
}

div.image-container {
  position: relative;
}

div.image-container > a  {
  flex-grow: 1;
  flex-basis: 125px;
  max-width: 250px;
  margin-bottom: 10px;
  position: relative;
}

div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

div.overlay > a > i {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  width: 32px;
  margin: 0 auto;
  font-size: 32px;
  color: black;
}

div.overlay > a > i:hover {
  color: #e83e8c;
}

a.button.text {
  color: #20232a;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 2px solid #e83e8c;
  border-radius: 5px;
  text-decoration: none;
}

a.button.text:hover {
  background-color: #e83e8c;
  color: white;
}

/* ======================================= */
/* Control hover event over portfolio-item */

div.portfolio-item:hover .overlay {
  opacity: 0.9;
}

div.portfolio-item:hover .portfolio-item-info {
  background-color: #20232a;
}

div.portfolio-item:hover .portfolio-item-info > h6 {
  color: white;
}

div.portfolio-item:hover .portfolio-item-info > p {
  color: #d3d3d3;
}
/* ======================================= */
/* Tags */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #636363;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 5px;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: .5s ease;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
  transition: .5s ease;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #636363;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  transition: .5s ease;
}

div.portfolio-item:hover .tag {
  background: white;
  color: #636363;
  transition: .5s ease;
}

div.portfolio-item:hover .tag::before {
  background: #20232a;
  transition: .5s ease;
}

div.portfolio-item:hover .tag::after {
  background: #20232a;
  border-left: 10px solid white;
  transition: .5s ease;
}
/* ======================================= */
/* Responsive Navbar*/

a.icon {
  display: none;
}
/* When the screen is less than 700 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  ul.main-navigation > li:not(:first-child) {
    display: none;
  }
  ul#nav-links {
    float: left;
  }

  a.icon {
    padding-top: 10px;
    padding-right: 25px;
    font-size: 24px;
    color: white;
    display: inline;
  }
  a.icon:hover {
    color: #e83e8c;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  ul.responsive {position: relative;}
  ul.responsive a.icon {
    position: absolute;
    right: 0;
    top: -20;
  }
  ul.responsive {
    display: block;
    width: 66%;
  }
  ul.responsive > li:not(:first-child) {
    display: block;
    text-align: left;
    padding-top: 10px;
  	padding-bottom: 10px;
  } 
}
/* Resume */

#resume {
  text-align: center;
}

#work-experience > h1 {
  margin-top: 45px;
  margin-bottom: 45px;
}
#education > h1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

#resume > h5 {
  font-size: 36;
  text-align: center;
  letter-spacing: 0.1em;
  color: #e83e8c;
  padding-top: 60px;
}

div.resume-item {
  margin-top: 25px;
  display: flex;
  align-items: center;
  margin-left: 20%;
}
div.resume-item > img {
  margin-bottom: 50px;
}

div.description {
  display: inline-block;
  margin-left: 15%;
  text-align: left;
}

div.description > hr {
  background-color: #e83e8c;
  width: 170px;
  float: left;
  height: 2px;
}

/* Contacts Section */
section#contact {
  height: 100%;
  background-image: url("../assets/joanna-kosinska-290213-unsplash.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#form-container {
  padding: 35px;
  background-color: rgba(0,0,0, 0.7);
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#form-container > form {
  margin-right: 50px;
  margin-left: 50px;
}

#form-container > form > p {
  margin-top: 15px;
  text-align: left;
}
#form-container > form > input {
  border-radius: 5px;
}
#form-container > form > textarea {
  border-radius: 5px;
}
#form-container > h1 {
  margin-bottom: 15px;
}
#form-container > form > button {
  margin-top: 25px;
}

div#submit-message {
  color: white;
  display: flex;
  align-items: center;
}

/* Footer */

footer {
  background-color: #990047;
  height: 15%;
}

footer > ul > li > a > i {
  color: white;
  margin-bottom: 20px;
}
footer > ul > li > a > i:hover {
  color: black;
} 

ul#footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul#footer-nav > li {
  display: inline-block;
  text-transform: uppercase;
}
ul#footer-nav > li > a {
  color: rgba(255,255,255,0.6);
}
ul#footer-nav > li > a:hover {
  color: rgba(255,255,255);
}


/* Zoom helper class */
.zoom {
	transition: transform .3s;
}

.zoom:hover {
  transform: scale(1.2); 
}
/* ======================================= */
/* CSS Animations */

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}